<div class="row">
    <div class="col-xs-12">
         <div class="row accordionHeader">
             <div id="accordionHeaderContractType" class="col-xs-12 accordionLabel">
                ETO
             </div>
        </div>
        <div class="row accordionBody">
            <div class="col-xs-11 accordionLine">
                <div class="row">
                    <div class="col-xs-12 accordionSummaryHeader">
                        Intitulé
                    </div>
                    <div class="col-xs-12 accordionSummaryContent">
                        Expertise Tout Oracle
                    </div>
                </div>
            </div>
            <div class="col-xs-1 boxPictoUpdate">
                <a href="{{ path("a2fSofia_contracttype_update") }}" >
                    <img alt="Modifier" class="miniPicto" src="{{ asset("bundles/A2FSofia/images/Update.png") }}" />
                </a>
            </div>
            {% include ("A2FSofiaBundle::notes.html.twig") %}
        </div>
            
    </div>
</div>
     


    



