{# un contrat tel que le client le voit, à inclure dans une liste #}
         <div class="row accordionHeader">
             <div class="col-xs-2 accordionLabel">
                 Nom contrat - GTI
             </div>
             <div class="col-xs-1">
                 <img alt="star" class="miniPicto" src="{{ asset("bundles/a2fsofia/images/start.png") }}" />
             </div>
             <div class="col-xs-offset-2 col-xs-3">
                 Années
             </div>
             <div class="col-xs-offset-2 col-xs-1 accordionPicto">
                 <img alt="Actif" class="miniPicto statusPicto" src="{{ asset("bundles/a2fsofia/images/statusGreen.png") }}" />
             </div>
             <div class="col-xs-1 accordionStatus">
                 Actif/inactif
             </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12 accordionSummaryHeader">
                                    Date de début
                                </div>
                                <div class="col-xs-12 accordionSummaryContent">
                                    25/01/2015
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                             <div class="row">
                                <div class="col-xs-12 accordionSummaryHeader">
                                    Date de fin
                                </div>
                                <div class="col-xs-12 accordionSummaryContent">
                                    24/01/2016
                                </div>
                            </div>
                        </div>
                         <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12 accordionSummaryHeader">
                                    Crédit initial
                                </div>
                                <div class="col-xs-12 accordionSummaryContent">
                                    160 tickets - 5 jours
                                </div>
                            </div>
                             <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-12 accordionSummaryHeader">
                                        Crédit consommé
                                    </div>
                                    <div class="col-xs-12 accordionSummaryContent">
                                        25 tickets
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="row">
                                        <div class="col-xs-12 accordionSummaryHeader">
                                            Crédit restant
                                        </div>
                                        <div class="col-xs-12 accordionSummaryContent">
                                           135 tickets
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-xs-6">
                                    <div class="row">
                                        <div class="col-xs-12 accordionSummaryHeader">
                                            Type de contrat
                                        </div>
                                        <div class="col-xs-12 accordionSummaryContent">
                                            ETO
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <a href="#">Télécharger le contrat</a>
            </div>
        </div>
            
   
     


    




