    <div class="row">
        <div class="col-xs-12">
            {% include ("A2FSofiaBundle:Contract:contractsectionheader.html.twig") %}
            <section class="col-xs-12">
                <div class="accordion">
            {% for element in elements %}
                {% include("A2FSofiaBundle:Contract:contractview.html.twig") %}
            {% endfor %}
                </div>
            </section>
        </div>
    </div>
    <div class="row">
            <div class="col-xs-12 fullList">
                <a href="#">Liste complète</a>
            </div>
    </div>



