<div class="row">
        <div id="contractHeader" class="col-xs-12 sectionHeader">
            <div class="row">
                <div class="col-xs-11 no-padding">
                    <div id="" class="col-xs-1 boxPictoHeader">
                        <img id="pictoContract" class="picto" alt="Contrats" src="{{ asset("bundles/a2fsofia/images/Contract.png") }}" />
                    </div>
                    <div class="col-xs-11">
                        <h3>Contrats</h3>
                    </div>
                </div>
                <div class="col-xs-1 boxPictoAjouterHeader">
                    <div class="col-xs-12 boxPictoAjouterHeader">
                        <a href="#">
                            <img id="pictoAjouter" class="picto" alt="Nouvel Incident" src="{{ asset("bundles/a2fsofia/images/Add.png") }}" />
                        </a>
                    </div>
                </div>  
            </div>
        </div>
    </div>