{% if notification.type == 1 %}
    <div id="colonnePictosMessages" class="col-xs-1">
        <div class="boxMiniPictoListeMessages">
            <img id="miniPictoIncident" class="miniPicto" alt="Incident" src="{{ asset("bundles/a2fsofia/images/Repairs.png") }}" />
        </div>
    </div>
{% else %}
    <div id="colonnePictosMessages" class="col-xs-1">
        <div class="boxMiniPictoListeMessages">
            <img id="miniPictoIncident" class="miniPicto" alt="Contrat" src="{{ asset("bundles/a2fsofia/images/Contract.png") }}" />
        </div>
    </div>
{% endif %}
 <div class="col-xs-11 message">
    <div>
        {{ notification.content ~ notification.creationDate|localizeddate("medium","none","fr")}}              
    </div>
</div>
