    <ul>
        <li class="col-xs-4">
            <a href="{{ path("a2fSofia_client_list") }}"> Clients </a>
        </li>
        <li class="col-xs-4">
            <a href="{{ path("a2fSofia_incident_list") }}"> Incidents </a>
        </li>
        <li class="col-xs-4"> 
            <a href="{{ path("a2fSofia_user_list") }}"> DBA </a>
        </li>  
    </ul>