{% extends "::base.html.twig" %}

{% block breadcrumbs %}
    <a href="{% if is_granted("ROLE_DBA")%}{{path("a2fSofia_a2flandingpage")}} {% else %}{{path("a2fSofia_clientlandingpage", { id: app.user.client.id} ) }} {% endif %}">Accueil</a>
{% endblock breadcrumbs %}
{% block flashBag %}
    {% for message in app.session.flashbag.get("info") %}
        {{ message }}
    {% endfor %}
{% endblock flashBag %}
{% block content %}
    
{% endblock content %}