

<div class="row">
    <div class="col-xs-12">
         <div class="row accordionHeader">
             <div class="col-xs-2 accordionLabel">
                 Label
             </div>
             <div class="col-xs-offset-8 col-xs-1 accordionPicto">
                 <img alt="Résolu" class="miniPicto statusPicto" src="{{ asset("bundles/a2fsofia/images/statusGreen.png") }}" />
             </div>
             <div class="col-xs-1 accordionStatus">
                 Status
             </div>
        </div>
        <div class="row accordionBody">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12 accordionSummaryHeader">
                    </div>
                    <div class="col-xs-12 accordionSummaryContent">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                 <div class="row">
                    <div class="col-xs-12 accordionSummaryHeader">
                    </div>
                    <div class="col-xs-12 accordionSummaryContent">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                 <div class="row">
                    <div class="col-xs-12 accordionSummaryHeader">
                    </div>
                    <div class="col-xs-12 accordionSummaryContent">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                 <div class="row">
                    <div class="col-xs-12 accordionSummaryHeader">
                    </div>
                    <div class="col-xs-12 accordionSummaryContent">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                 <div class="row">
                    <div class="col-xs-12 accordionSummaryHeader">
                    </div>
                    <div class="col-xs-12 accordionSummaryContent">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12 accordionSummaryHeader">
                    </div>
                    <div class="col-xs-12 accordionSummaryContent">
                    </div>
                </div>
            </div>
        </div>
            
    </div>
</div>
     


    



