<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12 accordionSummaryHeader">
            Remarques
        </div>
        <div class="col-xs-12 accordionSummaryContent">
            {{ element.notes }}
        </div>
    </div>
</div>
