{% block content %}
    
    <div class="row">
        {% include ("A2FSofiaBundle:Incident:incidentheader.html.twig") %} 
                                
        <div class="row">
            <section class="col-xs-12">
                <div class="accordion">
                {% for element in incidentsFive %}
                    
                   {% include ("A2FSofiaBundle:Incident:incidentview.html.twig") %} 
                {% endfor %}
                </div>
            </section>
        </div>
        
    </div>
            {% if (incidents|length>5) and (app.request.attributes.get('_route') != 'a2fSofia_incident_full_list') %}
                
        <div class="row">
                <div class="col-xs-12 fullList">
                    <a href="{% if app.user.client is defined %}{{path("a2fSofia_incident_full_list", {"id": app.user.client.id} )}} {% else %} {{path("a2fSofia_incident_full_list", {"id": null} )}}{%endif%}">Liste complète</a>
                </div>
            </div>  
            {% endif %}
{% endblock content %}

