{% extends "A2FSofiaBundle::layout.html.twig" %}

{% block content %}
<div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 sectionHeader">
                    <div class="row">
                        <div class="col-xs-11 no-padding">
                            <div class="col-xs-1 boxPictoHeader">
                                <img id="pictoIncident" class="picto" alt="Incidents" src="{{ asset("bundles/a2fsofia/images/Repairs.png") }}" />
                            </div>
                            <div class="col-xs-11">
                                <h3>Incidents</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="col-xs-12">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-4 btnChoixIncident">
                    <a class="" href="#"><h4>Base de données</h4></a>
                </div>
            
                <div class="col-xs-offset-2 col-xs-4 btnChoixIncident">
                    <a class="" href="#"><h4>Serveur</h4></a>
                </div>
            </div>
        </section>
{% endblock content %}